/* Basic styles for the Mancala board layout */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0a523;
  border-radius: 30px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.store {
  width: 60px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 24px;
}

.pit-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 60px);
  gap: 10px;
}

.pit {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
}

.player1Board {
  background-color: #87CEFA;
}

.player2Board {
  background-color: #54f157;
}

.player1Board.clickable {
  cursor: pointer;
  border: 4px solid #009dff;
  width: 52px;
  height: 52px;
}

.player2Board.clickable {
  cursor: pointer;
  border: 4px solid #00c103;
  width: 52px;
  height: 52px;
}

.hint-grid {
  display: grid;
  vertical-align: middle;
  grid-template-columns: repeat(6, 60px);
  gap: 10px;
  padding: 5px 0px
}

.hint {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  color: #2f2e2e;
  background-color: #e0dc02;
}

.hint.unknown {
  color: white
}

.hint.disabled {
  background-color: #f3f173;
}

.hint.completed {
  background-color: #73f3e0;
  color: #2f2e2e;
}

.pit-icon {
  width: 15px;
  height: 15px;
}